# IDE
.idea/
*.iml
*.iws
*.ipr

# Build
target/
!*.md

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env
.env
*.properties
*.yaml
*.yml
!application.properties
!application.yml

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache